[submodule "src/Dependency/pico-sdk"]
	path = src/Dependency/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	shallow = true
	ignore = all
[submodule "src/Dependency/no-OS-FatFS"]
	path = src/Dependency/no-OS-FatFS
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
	branch = sdio
	shallow = true
	ignore = all
[submodule "src/Dependency/Pico_code"]
	path = src/Dependency/Pico_code
	url = https://github.com/juliannojungle/Pico_code.git
	branch = juliannojungle/RP2040-LCD-1.28
	shallow = true
	ignore = all
[submodule "src/Dependency/libpng"]
	path = src/Dependency/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "src/Dependency/zlib"]
	path = src/Dependency/zlib
	url = https://github.com/madler/zlib.git
	shallow = true
	ignore = all
